<div class="card">
  <%= simple_form_for(task) do |t| %>
    <%= t.input :title %>
    <%= t.input :details %>
    <%= t.input :completed unless task.new_record? %>
    <%= t.submit %>
  <% end %>
</div>

<%= link_to '<i class="fa fa-undo"></i> Back to list'.html_safe, tasks_path %>